body{
    padding: 0px;
    margin: 0px;
    background-color: rgb(28, 34, 48);
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style:normal;
}
header .header-container {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 0px auto;
    margin-top: 30px;
}
header .header-container .logo {
    align-items: center;
}
header .header-container .header-menus {
    display: flex;
    align-items: center;
}
header .header-container .header-menus a {
    text-decoration: none;
    color: white;
    margin-left: 40px;
}
header .header-container .header-menus a:hover{
    transform: scale(1.5, 1.5);
    transition-duration: 0.2s;
}
main .main-container{
    width: 100%;
    padding-top: 20px;
}
main .main-container .section1{
    width: 50%;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 50px;
}
main .main-container #first-section .intro-section-img {
    width: 100%;
    margin: 0px auto;
}
main .main-container #first-section .intro-section-img img{
    margin: 0px auto;
    width: 100%;
    height: 100%;
}
main .main-container #first-section .intro-section-btn button{
    background-color: rgb(67, 177, 210);
    padding: 10px 60px;
    border-radius: 30px;
    margin-top: 20px;
    color: white;
}
main .main-container #first-section .intro-section-btn button:hover{
    cursor: pointer; 
    transform: scale(1.5);
    transition-delay: 0s;
    transition-duration: 2s;
}
#second-section .features-section-grid-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}
#second-section .features-section-grid-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 20px;
}
#second-section .features-section-grid-container .grid{
    height: 250px;
}
#second-section .features-section-grid-container img{
    width: 80px;
    height: 80px;
}
main .main-container .section2{
    width: 80%;
    margin: 0px auto;
    margin-bottom: 50px;
}
main .main-container #third-section{
    display: flex;
    flex-direction: row;
    align-items: center;
}
main .main-container #third-section .section-image{
    width: 50%;
}
main .main-container #third-section .section-image img{
    width: 100%;
    height: 100%;
}
main .main-container #third-section .section-text{
    width: 50%;
    padding: 20px;
}
main .main-container #third-section .section-text h3{
    font-size: 30px;
    margin: 10px 0px;
}
main .main-container #third-section .section-text a{
    text-decoration: none;
    color: rgb(97, 220, 214);
    align-items: center;
    padding-bottom: 5px;
    border-bottom: 2px solid rgb(97, 220, 214);
}
main .main-container #fourth-section {
    display: flex;
    justify-content: space-around;
}
main .main-container #fourth-section .profile {
    display: flex;
    align-items: center;
}
main .main-container #fourth-section .profile-top {
    border: 2px solid rgb(172, 191, 235);
    border-radius: 15px;
    margin: 15px;
    padding: 15px;
}
main .main-container #fourth-section .profile-top .text {
    margin: 0px;
    margin-bottom: 20px;
}
main .main-container #fourth-section .profile-img img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    align-items: center;
}
main .main-container #fourth-section .profile-info {
    margin-left:10px ;
}
main .main-container #fourth-section .profile-info h4, p {
    margin: 0px;
}
main .main-container .newsletter{
    width: 40%;
    margin: 0px auto;
    border: 2px solid rgb(172, 191, 235);
    border-radius: 15px;
    padding: 30px;
    text-align: center;
    position: relative;
    bottom: -80px;
    left: 0;
    transform: translate(50% 50%);
    background-color: rgb(89, 118, 126);
}
main .main-container .newsletter .text-part h3{
    font-size: 40px;
    margin: 15px 0px;
}
main .main-container .newsletter .input-button-part{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
main .main-container .newsletter .input-button-part .email-input{
    width: 60%;
}
main .main-container .newsletter .input-button-part input[type=email]{
    width: 90%;
    border-radius: 20px;
    padding: 10px;
    border: none;
}
main .main-container .newsletter .input-button-part .newsletter-btn{
    width: 30%;
}
main .main-container .newsletter .input-button-part .newsletter-btn button{
    width: 100%;
    border-radius: 20px;
    font-size: 10px;
    padding: 13px 10px;
    border: none;
    color: white;
    background-color: rgb(67, 177, 210);
}
main .main-container .newsletter .input-button-part .newsletter-btn button:hover{
    background-color: rgb(21, 20, 36);
    cursor: pointer; 
    transform: scale(1.3);
    transition-duration: 0.5s;

}
footer{
    background-color: rgb(21, 20, 36);
}
footer .footer-container{
    padding-top: 100px;
    width: 80%;
    margin: 0px auto;
}
footer .footer-container .footer-content{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
footer .footer-container .logo{
    margin-top: 30px;
}
footer .footer-container .footer-content .location{
    display: flex;
    width: 40%;
}
footer .footer-container .footer-content .location-icon{
    margin-right: 10px;
}
footer .footer-container .footer-content .contact-us img{
    margin-right: 10px;
}
footer .footer-container .footer-content .contact-phone{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
footer .footer-container .footer-content .contact-email{
    display: flex;
    align-items: center;
}
footer .footer-container .footer-content ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
footer .footer-container .footer-content a{
    text-decoration: none;
    color: #fff;
}
footer .footer-container .footer-content li{
    margin-bottom: 10px;
}
footer .footer-container .footer-content li:hover{
    transform: scale(1.2, 1.2);
    transition-duration: 0.2s;
}
footer .footer-container .footer-content .icons{
    display: flex;
}
footer .footer-container .footer-content .icons svg{
    margin-right: 9px;
    height: 30px;
    width: 30px;
}
footer .footer-container .footer-content .icons svg:hover{
    cursor: pointer;
}

/* RESPONSIVENESS */
@media(min-width:768px){

}
@media(max-width:768px){
    header .header-container .logo {
        display: flex;
        align-items: center;
    }
    header .header-container .logo img {
        width: 60%;
        height: 70%;
    }
    header .header-container .header-menus a {
        text-decoration: none;
        color: white;
        margin-left: 20px;
        font-size: 12px;
    }
    main .main-container .section1{
        width: 90%;
    }
    main .main-container .section2{
        width: 90%;
        margin: 0px auto;
        margin-bottom: 50px;
    }
    #second-section .features-section-grid-container{
        display: grid;
        gap: 80px;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
    }  
    main .main-container #third-section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    main .main-container #third-section .section-image{
        width: 100%;
    }
    main .main-container #third-section .section-text{
        width: 100%;
        padding: 20px;
    }
    main .main-container #fourth-section {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    main .main-container .newsletter{
        width: 90%;
        padding: 0px;   
    }
    main .main-container .newsletter .input-button-part{
        display: flex;
        flex-direction: column;
        
        margin: 20px auto;
        margin-top: 20px;
        width: 90%;

    }
    main .main-container .newsletter .input-button-part .email-input{
        width: 100%;
        margin: 0px auto;
    }
    main .main-container .newsletter .input-button-part input[type=email]{
        width: 95%;
        margin: 0px auto;
        font-size: 12px;
        padding: 10px;
    }
    main .main-container .newsletter .input-button-part .newsletter-btn{
        width: 95%;
        margin-top: 20px;
    }
    main .main-container .newsletter .input-button-part .newsletter-btn button{
        width: 90%;
        font-size: 12px;
        padding: 10px;
        border: none;
    }
    footer .footer-container .footer-content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    footer .footer-container .footer-content .contact-us{
        margin-top: 30px;
    }
    footer .footer-container .footer-content ul{
        margin-top: 40px;
    }
    footer .footer-container .footer-content li{
        margin-bottom: 10px;
    }
    footer .footer-container .footer-content .icons{
        display: flex;
        margin: 0px auto;
    }
}